
#nrembrowser-add .nrembrowser-thumbnail {
  border: 3px solid gray;
  float: left;
  width: 120px;
  height: 120px;
  margin: 10px;
  padding: 2px;
}

#nrembrowser-add .nrembrowser-thumbnail:hover {
  border: 3px solid blue;
}

#nrembrowser-add .nrembrowser-thumbnail.selected {
  border: 3px solid black;
}
